body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #08111f;
    color: white;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #101c33;
}

.balance {
    background: #142746;
    padding: 12px 20px;
    border-radius: 10px;
}


.dashboard {
    padding: 25px;
}


h2 {
    margin-top: 25px;
}


/* Digit row */

.digits {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 20px 5px;
}


.digit {
    min-width: 70px;
    height: 90px;
    background: #13243d;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.digit span {
    font-size: 24px;
    font-weight: bold;
}


.digit p {
    margin: 5px 0 0;
    color: #00e6a8;
    font-size: 14px;
}


/* Trade buttons */

.trade-types {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}


.trade-types button {
    background: #00e6a8;
    color: #08111f;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}


.trade-types button:hover {
    opacity: 0.8;
}
/* Live graph */

.chart-box {
    height: 120px;
    background: #101c33;
    border-radius: 12px;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 2px;
    background: #00e6a8;
    position: absolute;
    top: 60px;
}


/* Moving tick pointer */

#tickPointer {
    position: absolute;
    top: 40px;
    left: 0;
    color: #00e6a8;
    font-size: 25px;
    transition: left 0.6s ease;
}


/* Condense digits for phone */

.digits {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    overflow: hidden;
}


.digit {
    min-width: 30px;
    height: 55px;
    border-radius: 50%;
    background: #13243d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.digit span {
    font-size: 16px;
}


.digit p {
    font-size: 10px;
    margin: 2px 0;
}
