*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#081321;
color:white;
}

.topbar{
height:65px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 12px;
background:#101c33;
border-bottom:1px solid #1f3354;
}

.logo h2{
font-size:22px;
}

.logo span{
font-size:11px;
color:#8aa0c8;
}

.header-right{
display:flex;
align-items:center;
gap:8px;
}

#accountType{
background:#162944;
color:white;
border:none;
padding:8px;
border-radius:20px;
font-size:12px;
}

.balance-card{
background:#162944;
padding:8px 12px;
border-radius:18px;
text-align:center;
}

.balance-card small{
display:block;
font-size:10px;
color:#8aa0c8;
}

.balance-card strong{
color:#00e6a8;
font-size:14px;
}

.deposit-btn{
background:#00e6a8;
color:#07111f;
border:none;
padding:8px 15px;
border-radius:20px;
font-weight:bold;
}

.dashboard{
padding:15px;
}

.market-select select{
width:100%;
padding:12px;
background:#162944;
color:white;
border:none;
border-radius:10px;
margin-bottom:15px;
}

.market-panel{
background:#101c33;
padding:12px;
border-radius:15px;
margin-bottom:15px;
overflow:hidden;
}

.market-header{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.market-header small{
color:#8aa0c8;
}

.live-price{
text-align:right;
}

.live-price span{
display:block;
font-size:11px;
color:#8aa0c8;
}

.live-price strong{
font-size:22px;
color:#00e6a8;
}

#chart{
height:230px;
background:#081321;
border-radius:12px 12px 0 0;
margin-bottom:0;
padding-bottom:0;
overflow:hidden;
}

.trade-tabs{
display:flex;
justify-content:space-between;
gap:6px;
margin-top:8px;
}

.trade-tabs button{
flex:1;
padding:8px 4px;
background:#162944;
border:none;
border-radius:18px;
color:#fff;
font-size:11px;
font-weight:bold;
}

.trade-tabs .active{
background:#00e6a8;
color:#081321;
}

.digit-area{
background:#081321;
margin-top:0;
padding:8px 8px 18px 8px;
border-radius:0 0 12px 12px;
}

#tickPointer{
position:absolute;
top:-24px;
left:0;
font-size:20px;
color:#00e6a8;
transition:left .25s linear;
}

.digits{
display:flex;
justify-content:space-between;
}

.digit{
width:32px;
height:55px;
border-radius:16px;
background:#162944;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.digit span{
font-size:15px;
font-weight:bold;
}

.digit p{
font-size:9px;
color:#00e6a8;
}

.trade-panel{
background:#101c33;
padding:15px;
border-radius:15px;
margin-top:25px;
}

.trade-panel p{
margin-top:10px;
}

.trade-btn{
width:100%;
margin-top:18px;
padding:14px;
background:#00e6a8;
border:none;
border-radius:10px;
font-weight:bold;
}

.history{
margin-top:25px;
}

.history-digits{
display:flex;
flex-wrap:wrap;
gap:8px;
margin-top:10px;
}

.history-digits span{
width:34px;
height:34px;
border-radius:50%;
background:#162944;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
}
.control-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:15px;
}

.control-card{
background:#162944;
padding:12px;
border-radius:12px;
}

.control-card h4{
font-size:12px;
margin-bottom:8px;
color:#00e6a8;
}

.control-card input{
width:100%;
padding:10px;
border:none;
border-radius:8px;
background:#0d1d33;
color:#fff;
font-size:14px;
outline:none;
}

.switch-buttons{
display:flex;
gap:6px;
}

.switch-buttons button{
flex:1;
padding:9px;
border:none;
border-radius:8px;
background:#0d1d33;
color:#fff;
font-size:12px;
font-weight:bold;
}

.switch-buttons .active{
background:#00e6a8;
color:#081321;
}

.trade-btn,
.positions-btn{
width:100%;
padding:12px;
border:none;
border-radius:10px;
font-size:14px;
font-weight:bold;
cursor:pointer;
}

.trade-btn{
background:#00e6a8;
color:#081321;
}

.positions-btn{
background:#1d3355;
color:#fff;
}
